[submodule "submodules/StructuralPatterns"]
	path = submodules/StructuralPatterns
	url = https://github.com/AliIbrahim996/StructuralPatterns.git
	branch = develop

[submodule "submodules/cmakeHelper"]
	path = submodules/cmakeHelper
	url = https://github.com/AliIbrahim996/cmakeHelper.git
	branch = develop