[submodule "submodules/adapter_design_pattern"]
	path = submodules/adapter_design_pattern
	url = https://github.com/AliIbrahim996/AdapterDesignPattern.git
	branch = develop

[submodule "submodules/cmakeHelper"]
	path = submodules/cmakeHelper
	url = https://github.com/AliIbrahim996/cmakeHelper.git
	branch = develop